@page "/"
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Some words Game</h1>

<button onclick="@Start" > Start </button>
<button onclick="@ClearData" > Clear previous date </button>

@functions{

    void Start()
    {
        UriHelper.NavigateTo("/players");
    }

    void ClearData()
    {
        Storage.Clear();
    }

}