<section id="scores">
   
 <table>
    <tr>
        <th> Player 1 </th>
        <th> Player 2 </th>
        <th> Score </th>
    </tr>        

    @foreach (var team in Scores)
    {
        <tr>
            <td> @team.Player1.Name </td>
            <td> @team.Player2.Name </td>
            <td> @team.Score </td>
        </tr>
    }

 </table>

</section>

@functions {
    [Parameter]
    IEnumerable<TeamScore> Scores {get; set;}

    protected override void OnInit()
    {
        if(Scores == null) 
         Scores = Enumerable.Empty<TeamScore>();
    }

}
