<table>
    @foreach (var team in Scores)
    {
        <tr>
            <td> @team.Player1.Name </td>
            <td> & </td>
            <td> @team.Player2.Name </td>
            <td> - @team.Score </td>
        </tr>
    }

 </table>

@functions {
    
    [Parameter]
    IEnumerable<TeamScore> Scores {get; set;}

    protected override void OnInit()
    {
        if(Scores == null) 
         Scores = Enumerable.Empty<TeamScore>();
    }

}
