<table class="score-table" >
    @{
        var index = 1;
    }
    @foreach (var team in Scores)
    {
        <tr>
            <td> @index . @team.Player1.Name </td>
            <td> @(index + Scores.Count())  .  @team.Player2.Name </td>
            <td> @team.Score </td>
        </tr>

        index++;
    }

 </table>

@code {
    [Parameter]
    public IEnumerable<TeamScore> Scores { get; set; }

    protected override void OnParametersSet()
    {
        if (Scores == null)
            Scores = Enumerable.Empty<TeamScore>();
    }
}
