html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#setup {
    display: flex;
    justify-content: space-around;
    background: rgb(248, 232, 213);
    min-height: 100vh;
}

#setup section {
    width: 40%;
}

#players ul li {
    display: block;
    padding: 15px 5px;
    cursor: pointer;
}

#players ul li img {
    height: 24px;
    margin-right: 10px;
}

#players ul li.selected {
    background: lightblue;
}

#players form {
    margin: 30px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    min-width: 300px;
    border-radius: 2px;
    padding: 0px 10px;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 60px;
}

button {
    padding: 0px 10px;
    min-width: 100px;
    background: #25AE88;
    color: white;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    line-height: 60px;
}

button.add-btn{
    font-size: 40px;
}

button.success-btn{
    position: absolute;
    display: flex;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top:85vh;
}

#game {
    display: flex;
    justify-content: center;
}

#guess-screen {
    width: 30%;
}

#scores {
    width: 20%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

form {
    display: flex;
}

form input {
    margin-right: 12px;
}

img{
    max-height: 100%;
    max-width: 100%;
}